@import "tailwindcss";

@theme inline {
  --color-bg: #0a0a0a;
  --color-surface: #111111;
  --color-surface-2: #1a1a1a;
  --color-border: #262626;
  --color-text: #d4d4d4;
  --color-muted: #737373;
  --color-red: #dc2626;
  --color-red-light: #ef4444;
  --color-red-dim: #2a0808;
  --color-green: #16a34a;
  --color-yellow: #ca8a04;
  --color-blue: #2563eb;

  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: #0a0a0a;
  color: #d4d4d4;
}

::selection {
  background-color: #dc2626;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  display: inline-block;
  animation: blink 1s step-end infinite;
}
